name: Label Issues (Script Injection Example)
on:
    issues:
        types:
            - opened
jobs:
    assign-label:
        runs-on: ubuntu-latest
        steps:
          - name: Assign Label
            env:
              TITLE: ${{ github.event.issue.title }}
            run: |
              if [[ "$TITLE" == *"bug"* ]]; then
              echo "Issue is about a bug!"
              else
              echo "Issue is not about a bug"
              fi

# issue_title="${{ github.event.issue.title }}
# if [[ "$issue_title" == *"bug"* ]]; then
